.btn {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  color: inherit;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
  @include font-xs-sb;
  vertical-align: top;
  text-align: center;
  letter-spacing: 1.5px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;

  &:hover {
    transition: all 0.3s ease-in-out;
  }

  &--confirm {
    padding-top: 25px;
    padding-right: 120px;
    padding-bottom: 25px;
    padding-left: 120px;
    background-color: $blue;

    &:hover {
      background-color: $gold;
      color: $black;
    }

    @include tablet-small {
      padding-top: 20px;
      padding-right: 80px;
      padding-bottom: 20px;
      padding-left: 80px;
    }

    @include mobile {
      padding-right: 60px;
      padding-left: 60px;
    }
  }

  &--burger {
    display: none;
    width: 24px;
    height: 19px;

    & span {
      position: absolute;
      top: 0;
      right: 0;
      width: 25px;
      height: 3px;
      background-color: $white;
      transition: all 0.3s ease-in-out;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 25px;
        height: 3px;
        background-color: $white;
        transition: all 0.3s ease-in-out;
      }

      &::before {
        top: 6px;
      }

      &::after {
        top: 12px;
      }
    }

    @include tablet-small {
      display: block;
    }
  }

  &--close {
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
    height: 17px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 25px;
      right: 10px;
      width: 100%;
      height: 3px;
      background-color: $black-grey;
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &--whatsapp {
    display: none;
    padding-top: 17px;
    padding-right: 31px;
    padding-bottom: 17px;
    padding-left: 31px;
    letter-spacing: 0.7px;
    @include font-xxs-sb;
    color: $white;
    background-color: $mineshaft;

    @include tablet-small {
      display: inline-block;
    }

    & span {
      position: relative;
      display: inline-block;
      padding-left: 30px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: -4px;
        width: 29px;
        height: 29px;
        background-image: url("../../img/icon-whatsapp.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        transition: all 0.3s ease-in-out;
      }
    }

    &:hover,
    &:focus {
      color: $white;
      background-color: $tundora;

      & span::before {
        transition: all 0.3s ease-in-out;
        background-image: url("../../img/icon-whatsapp-hover.png");
      }
    }
  }

  &--callback {
    color: $blue;
    border-bottom: 1px dashed $blue;
    padding-bottom: 5px;
    cursor: pointer;
    @include font-xxxs-sb;
    letter-spacing: 0.5px;
    transition: all 0.3s ease-in-out;
    border-radius: unset;

    &:hover {
      color: $gold;
      border-bottom: 1px dashed $gold;
      transition: all 0.3s ease-in-out;
    }
  }

  &--modal-close {
    top: 45px;
    right: 30px;

    &::before,
    &::after {
      background-color: $white;
    }
  }

  &--modal-form-close {
  }

  &--modal-success-close {
  }

  &--modal-confirm {
    margin-top: 0;
    padding-top: 20px;
    padding-right: 73px;
    padding-bottom: 20px;
    padding-left: 73px;
    color: $white;
    background-color: $tundora;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $black;
      background-color: $gold;
      transition: all 0.3s ease-in-out;
    }
  }
}
