.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  padding-top: 55px;
  max-height: 575px;
  padding-right: 40px;
  padding-bottom: 55px;
  padding-left: 45px;
  background: $blue-gradient;
  border-radius: 16px;
  z-index: 9999999;
  box-sizing: border-box;

  &__title {
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 290px;
    font-family: $ms-semi-bold;
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-align: center;
  }

  &__text {
    position: relative;
    text-align: center;
    margin: 0;
    padding-bottom: 60px;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: calc(50% - 46px);
      transform: translateX(-50%);
      width: 62px;
      height: 46px;
      background-image: url("../../img/icon-mark.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
    }
  }

  &__form-legend {
    margin-bottom: 35px;
    width: 100%;
    max-width: 390px;
    letter-spacing: 1.2px;
  }

  &__form-fields {
    margin-bottom: 10px;
  }

  &__label-confirm {
    max-width: 100%;
    text-align: left;
  }

  &--success {
    display: none;
  }

  &--show {
    display: block;
    animation: bounce 0.6s;
  }

  &--error {
    box-shadow: $red-shadow;
  }

  &__input-confirm:checked + .modal__label-confirm::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 13px;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 3px;
    background-color: $blue;
    transition: all 0.3s ease-in-out;

    @include tablet-small {
      top: 5px;
      left: 5px;
      transform: none;
      width: 10px;
      height: 10px;
      border-radius: 3px;
    }
  }
}
